.place__subtitle {
  font-family: "inter regular";
  grid-area: subtitle;
  align-self: end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__subtitle {
    margin: 0 16px 30px;
  }
}