.lead__title {
  font-family: "inter black";
  font-size: 96px;
  line-height: 1;
  max-width: 793px;
  min-height: 200px;
  text-align: center;
  margin: 90px auto 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
    margin-bottom: 99px;
  }
  
}