.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin-bottom: 13px;
  }
  
}