.cover__content-link {
  text-decoration: none;
  color: #fff;
  min-width: 198px;
  min-height: 48px;
  font-family: "Inter semibold";
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0278FE;
  border-radius: 4px;
  z-index: 3;
  justify-self: center;
  transition: background 0.3s ease 0s;
}

.cover__content-link:hover {
  background: #0063D2;
}

.cover__content-link:hover + .cover__image {
  opacity: 0.3;
}