.place__link {
  text-decoration: none;
  color: #fff;
  max-width: 355px;
  max-height: 48px;
  font-family: "inter semibold";
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0278FE;
  border-radius: 4px;
  grid-area: link;
}