.place {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-gap: 48px 40px;
  grid-template-areas: 
  "title subtitle" 
  "image text"
  "link text";
  margin-bottom: 51px;
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 24px 28px;
    grid-template-rows: 0.2fr 2fr 1fr;
    margin-bottom: 30px;
}
}