.cover__content {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* max-width: 656px; */
  max-height: 254px;
  /* margin: auto; */
  padding-top: 243px;
  row-gap: 32px;
}