.intro__title {
  min-width: 1017px;
  min-height: 116px;
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 40px;
  font-family: "inter black";
}

@media screen and (max-width: 768px) {
  .intro__title {
    min-width: 720px;
  }
}